extends ../layout.pug

block content
    h4.text-orange Matchday #{games[0].matchday}
    .d-flex.flex-wrap
        each game, i in games
            .card.col-5.border-dark.m-1
                .card-body
                    div #{game.awayTeam.name}: 
                        span.text-orange.float-right #{game.awayTeam.score} 
                    div #{game.homeTeam.name}: 
                        span.text-orange.float-right #{game.homeTeam.score}
                    - let d = new Date(game.date)
                    - let year = d.getFullYear()
                    - let month = d.getMonth() + 1
                    - let date = d.getDate()
                    - let hour = d.getHours()
                    - let minutes = d.getMinutes() < 10 ? "0" + d.getMinutes() : d.getMinutes()
                    p.text-muted #{month}/#{date}/#{year} - #{hour}:#{minutes}