extends ../layout.pug

block content
    .card
        .card-body
            h5.card-title.text-orange Issue #{issue.id}
            p.card-text Issue:
                br
                span #{issue.issueText}
            p.card-text Submitted by: 
                br
                span #{issue.submittedBy}
            p.card-text Created: #{issue.created}

            form(method='POST' action=`/issues/${issue.id}?_method=PUT`)
                .form-group
                    label(for='resolvedText') Resolution:
                    input.border-orange-focus.form-control(type='textarea' name='resolvedText' minlength='1' required)
                    small.form-text.text-muted Note date and source of issue/fix required.
                button.btn.btn-secondary(type="submit") Mark Resolved                